/* Fonts */
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans.woff2), url(../fonts/PTSans.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans-Bold.woff2), url(../fonts/PTSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-gray: #F2F2F2;
  --basic-black: #000000;
  --basic-shadow: rgba(0, 1, 1, 0.15);
  --basic-white: #FFFFFF;
  --opacity-white: rgba(255, 255, 255, 0.3);
  --footer-white: rgba(255, 255, 255, 0.8);
  --basic-skyblue: #81B3D2;
  --special-skyblue: #669EC0;
  --active-skyblue: #5496BD;
  --basic-brown: #766357;
  --special-brown: #604E43;
  --active-brown: #503E33;
  --special-gray: #EEEEEE;
  --border-gray: #E5E5E5;
  --hover-gray: #EBEBEB;
}

/* Global */

* {
  box-sizing: border-box;
}

.page {
  height: 100%;
  background-color: var(--basic-white);
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: white;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: var(--basic-gray);
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 6px var(--basic-shadow);
}

/* Header */

.page-header {
  background-color: var(--basic-white);
  position: relative;
}

.page-header__container {
  text-align: center;
}

.logo {
  margin: auto;
  position: absolute;
  top: 12px;
  left: 5px;
  bottom: 0;
  right: 0;
  z-index: 10000;
  cursor: pointer;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.site-list__item {
  width: 300px;
  list-style: none;
}

.site-list__link {
  color: var(--basic-black);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  display: block;
  padding-top: 14px;
  padding-bottom: 16px;
}

.site-list__link--info {
  text-align: left;
  padding-left: 73px;
}
.site-list__link--photo {
  text-align: left;
}
.site-list__link--map {
  text-align: right;
}
.site-list__link--hotel {
  text-align: right;
  padding-right: 71px;
}

.site-list__link:hover {
  color: var(--basic-skyblue);
  transition: 0.3s ease-out;
}

.site-list__link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-list__link--active {
  color: var(--basic-brown);
  cursor: default;
}

.site-list__link--active:hover,
.site-list__link--active:active {
  color: var(--basic-brown);
  opacity: 1;
}

/* Main */

.page-main {
  background-color: var(--basic-white);
  text-align: center;
}

.page-main__background {
  background: var(--active-skyblue) url("../img/background-main.jpg");
  width: 1200px;
  height: 509px;
  padding-top: 77px;
  padding-left: 11px;
  position: relative;
}

.page-main__background::after {
  position: absolute;
  content: "";
  background: url("../img/triangle.svg");
  left: 0;
  bottom: 0;
  width: 1200px;
  height: 57px;
}

/* Performance */

.performance {
  margin-top: 41px;
}

.performance__title {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  line-height: 26px;
  text-align: center;

}

.performance__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-top: 46px;
}

/* Reasons */

.reasons__container {
  display: grid;
  grid-template-rows: 256px;
  grid-template-columns: 400px 1fr;
  margin-top: 51px;
}

.reasons__content {
  background-color: var(--basic-skyblue);
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  color: var(--basic-white);
}

.reasons__container--bridge {
  grid-template-columns: 1fr 400px;
  margin: 0;
  margin-top: 67px;
}

.reasons__content--bridge {
  order: 2;
}

.reasons__content-title {
  margin: 0;
  font-size: 21px;
}


.reasons__text {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 21px;
}

.reasons__number {
  font-size: 14px;
  margin-top: 24px;
}

.reasons__list {
  text-align: center;
  background-color: var(--special-gray);
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px;
}

.reasons__title {
  padding-top: 45px;
}

.reasons__title-text {
  margin-top: 28px;
}

/* Features */

.features {
  background-color: var(--basic-white);
  margin: 0;
  padding: 0;
  text-align: center;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 1fr;
}

.features-title {
  font-size: 21px;
}

.features__list-text {
  font-size: 14px;
  margin-top: 24px;
  line-height: 21px;
}

.features-item {
  padding-top: 159px;
  position: relative;
  list-style: none;
}

.features-item::before {
  content: "";
  position: absolute;
}

.features-item:first-child::before {
  background: url("../img/icon-house-desktop.svg");
  width: 75px;
  height: 72px;
  top: 60px;
  right: 162px;
}

.features-item:nth-child(2)::before {
  background: url("../img/icon-burger-desktop.svg");
  width: 75px;
  height: 69px;
  top: 60px;
  right: 162px;
}

.features-item:nth-child(3)::before {
  background: url("../img/icon-gift-desktop.svg");
  width: 63px;
  height: 76px;
  top: 58px;
  right: 167px;
}

.features-item .features-title:first-child {
  margin-top: 0;
}

.features-item:nth-child(3) .features__list-text {
  margin-bottom: 0;
}

/* Location */

.location {
  text-align: center;
  background-color: var(--basic-white);
  margin-top: 52px;
}

.location__title {
  font-size: 30px;
}

.location__text {
  font-size: 14px;
  margin-top: 28px;
  line-height: 24px;
}

.location__button {
  width: 568px;
  height: 86px;
  background-color: var(--basic-brown);
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
  margin-top: 29px;
  cursor: pointer;
}

.location__button:hover {
  background-color: var(--special-brown);
  transition: 0.3s ease-out;
}

.location__button:active {
  background-color: var(--active-brown);
  color: var(--opacity-white);
}

/* Footer */

.page-footer {
  display: flex;
  align-items: center;
  background-color: var(--footer-white);
  position: relative;
  bottom: 124px;
  padding-top: 23px;
  padding-bottom: 39px;
}

.catalog-footer {
  position: static;
  background-color: var(--basic-white);
}

.page-footer__title {
  width: 400px;
  text-align: center;
  padding-left: 75px;
}

.page-footer__sharp {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  margin-bottom: 9px;
  text-align: center;
}

.page-footer__phone {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
}

.social {
  width: 400px;
  text-align: center;
}

.social-list {
  padding: 0;
  margin: 0;
  padding-top: 12px;
  display: flex;
  justify-content: center;
}

.social-item {
  list-style: none;
  background-color: var(--basic-skyblue);
  width: 46px;
  height: 48px;
  position: relative;
  cursor: pointer;
}

.social-item:hover {
  background-color: var(--special-skyblue);
  transition: 0.3s ease-out;
}

.social-item:active{
  background-color: var(--active-skyblue);
  transition: 0.3s ease-out;
}


.social-item:nth-child(2) {
  margin: 0 6px 0 6px;
}

.social__image--twitter {
  position: absolute;
  left: 15px;
  top: 18px;
}

.social__image--facebook {
  position: absolute;
  left: 17px;
  top: 12px;
}

.social__image--youtube {
  position: absolute;
  left: 13px;
  top: 18px;
}

.copyright {
  position: relative;
  width: 400px;
  display: flex;
  justify-content: center;
  padding-right: 63px;
  padding-top: 9px;
}

.copyright__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.copyright__link {
  padding-left: 15px; padding-top: 11px;
}

.htmlsvg:hover {
  fill: var(--basic-skyblue);
}

.htmlsvg:active {
  fill: var(--basic-black);
  opacity: 0.3;
}

/* Catalog */

/* Filter */
.filter {
  position: relative;
  z-index: 2;
  color: var(--basic-white);
  background-color: var(--basic-skyblue);
}

.filter__slider {
  display: flex;
}

.filter::before {
  content: "";
  width: 100%;
  height: 218px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: var(--basic-skyblue) url("../img/catalog-background.jpg") center / cover no-repeat;
}

.filter__structure {
  margin-left: 74px;
  margin-top: 15px;
}

.filter__housetype {
  margin-left: 119px;
  margin-top: 15px;
}

.filter-item {
  display: flex;
}

.filter__structure-title,
.filter__housetype-title,
.filter__slider-title {
  font-size: 16px;
  margin-top: 12px;
}

.filter__stucture-checkbox,
.filter__housetype-checkbox {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 40px;
  padding-top: 10px;
  font-size: 14px;
}



.filter__structure span,
.filter__housetype span,
.filter__slider span {
  font-size: 14px;
}

.filter__slider-range {
  font-size: 14px;
}

.filter__slider-button {
  background-color: transparent;
  border: 2px solid var(--basic-white);
  color: var(--basic-white);
  text-transform: uppercase;
}

/* Filter range */
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 317px;
  margin-left: 348px;
}

.range__filter-title {
  margin-top: 24px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}


.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 21px;
  padding-right: 20px;
  padding-left: 12px;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 100%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 13px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 2px;
}

.range-controls .toggle-max {
  left: 254px;
}

.price-controls {
  position: relative;
}

.price-controls label {
  text-transform: uppercase;
  font-size: 16px;
}

.price-controls input {
  width: 156px;
  padding: 7px 0 6px 44px;
  text-align: center;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  background: inherit;
  font-family: inherit;
  font-size: inherit;
  border-radius: 2px;
}

.max-price input {
  padding: 7px 0 6px 41px;
}

.min-price__text,
.max-price__text {
  position: absolute;
}

.min-price__text {
  left: 67px;
  top: 28%;
}

.max-price__text {
  right: 84px;
  top: 28%;
}

.filter__button {
  width: 137px;
  height: 36px;
  background-color: inherit;
  color: var(--basic-white);
  text-transform: uppercase;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  margin-left: 85px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  border-radius: 2px;
  cursor: pointer;
}

.filter__button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
  transition: 0.3s;
}

/* Sort */

.sort {
  padding-top: 65px;
  position: relative;
  background-color: var(--basic-white);
}

.sort__container {
  margin-left: 76px;
  display: flex;
}

.sort__container-title {
  font-size: 21px;
  padding-left: 11px;
  margin: 0;
}

.sort__container-sort {
  font-size: 12px;
  margin: 0;
  margin-left: 46px;
  margin-top: 5px;
}

.sort__container--price,
.sort__container--type,
.sort__container--rate {
  font-size: 12px;
  margin-top: 6px;
  cursor: pointer;
}

.sort__container--price {
  color: var(--basic-skyblue);
  margin-left: 41px;

}

.sort__container--type,
.sort__container--rate {
  color: var(--basic-black);
  margin-left: 33px;
}

.sort__container--type,
.sort__container--rate {
  border-bottom: 1px var(--basic-skyblue) dotted;
}


.sort__container--price:hover,
.sort__container--type:hover,
.sort__container--rate:hover {
  color: var(--basic-skyblue);
}
.sort__container--price:active,
.sort__container--type:active,
.sort__container--rate:active {
  color: var(--basic-black);
  text-decoration: none;
  border: none;
}

.sort__scroll {
  position: absolute;
  right: 60px;
  top: 72px;
  cursor: pointer;
}

.sort__scroll-updir {
  margin-right: 7px;
}

.sort__scroll-updir:hover,
.sort__scroll-downdir:hover {
  fill: var(--basic-black);
}

.sort__scroll-updir:active,
.sort__scroll-downdir:active {
  fill: var(--basic-skyblue);
}

.sort__scroll-updir--active {
  fill: var(--basic-skyblue);
  cursor: default;
}

.sort__scroll-updir--active:hover {
  fill: var(--basic-skyblue);
}

.sort__scroll-updir--active:active {
  fill: var(--basic-skyblue);
}

/* Result */

.result {
  padding-top: 29px;
  background-color: var(--basic-white);
}

.result__container {
  display: flex;
  padding-bottom: 30px;
  padding-top: 24px;
  padding-left: 73px;
  justify-content: space-between;
}

.result__container:nth-child(2) {
  border-bottom: 1px solid var(--border-gray);
  border-top: 1px solid var(--border-gray);
}

.result__container:nth-child(3) {
  border-bottom: 1px solid var(--border-gray);
}

.result__container:last-child {
  border-bottom: 1px solid var(--border-gray);
}

.result__container-action {
  margin-left: 30px; 
  margin-right: auto;
}

.result__container-action span {
  font-size: 14px;
}

.result__container-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 21px;
  cursor: pointer;
}

.result__container-title:hover {
  color: var(--basic-skyblue);
}

.result__container-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.result__container-cost--amara {
  margin-left: 33px;

}

.result__container-cost--desert {
  margin-left: 59px;
}

.result__container-cost--villas {
  margin-left: 15px;
}

.result__button--more,
.result__button--book {
  color: var(--basic-white);
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 6px 17px;
}

.result__button--more {
  background-color: var(--basic-skyblue);
  margin-top: 16px;
}

.result__button--book {
  background-color: var(--basic-brown);
}

.result__button--more:hover {
  background-color: var(--special-skyblue);
}

.result__button--more:active {
  color: var(--opacity-white);
}

.result__button--book:hover {
  background-color: var(--special-brown);
}

.result__button--book:active {
  color: var(--opacity-white);
}

.rating {
  font-size: 14px;
  position: relative;
  margin-right: 69px;
}

.rating__star {
  position: absolute;
  right: 1px;
  top: 5px;
}

.rating-text {
  margin: 0;
  background-color: #F2F2F2;
  margin-top: 70px;
  padding: 5px 15px;
}

/* Modal */

.modal {
  display: none;
  position: absolute;
  width: 569px;
  height: 395px;
  left: 668px;
  top: 2169px;
  padding: 46px 53px 53px 53px;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px var(--basic-shadow);
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.modal--nojs {
  display: block;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.arrive {
  margin-top: 8px;
  margin-bottom: 29px;
}

.arrive,
.departure {
  position: relative;
}

.people {
  margin-top: 31px;
  display: flex;
}

.people__button--adult,
.people__button--children {
  position: relative;
}

.adult,
.children {
  padding-top: 6px;
}

.button--minus,
.button--plus,
.button--calendar {
  position: absolute;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
}

.people__button--adult .button--minus {
  left: 55px;
  top: 9px;
}

.people__button--adult .button--plus {
  right: 12px;
  top: 12px;
}

.people__button--children .button--minus {
  left: 44px;
  top: 8px;
}

.people__button--children .button--plus {
  right: 12px;
  top: 12px;
}


.minus rect:hover,
.plus path:hover {
  fill: var(--basic-black);
}

.minus rect:active,
.plus path:active {
  fill: var(--basic-skyblue);
}

.arrive-input,
.departure-input {
  width: 346px;
  height: 38px;
  background-color: var(--basic-gray);
  margin-left: 23px;
  border: 2px solid var(--basic-gray);
  padding-left: 13px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
}

.arrive-input::placeholder,
.departure-input::placeholder {
  color: var(--basic-black);
}

.arrive-input {
  margin-left: 20px;
}

.arrive-input:hover,
.departure-input:hover {
  background-color: var(--hover-gray);
  border: 2px solid var(--hover-gray);
}

.arrive-input:focus,
.departure-input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--border-gray);
}

.departure-input {
  margin-left: 17px;
}

.children {
  margin-left: 53px;
}

.calendar {
  position: absolute;
  right: 9px;
  top: 8px;
}

.calendar:hover > path {
  fill: var(--basic-black);
}

.calendar:active > path {
  fill: var(--basic-skyblue);
}

.button--adult,
.button--children {
  width: 114px;
  height: 38px;
  background-color: var(--basic-gray);
  border: none;
  font-weight: bold;
}

.button--adult {
  margin-left: 39px;
}

.button--children {
  margin-left: 28px;
}

.modal__button {
  width: 458px;
  height: 58px;
  background-color: var(--basic-skyblue);
  color: var(--basic-white);
  border: none;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  margin-top: 54px;
  cursor: pointer;
}

.modal__button:hover {
  background-color: var(--special-skyblue);
}

.modal__button:active {
  background-color: var(--active-skyblue);
  color: var(--opacity-white);
}

/* Chekboxes */

.checkbox__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check__box {
  position: absolute;
  width: 27px;
  height: 23px;
  left: 1px;
  background: url("../img/checkbox.svg") no-repeat;
}

.checkbox__input:checked + .check__box {
  background-image: url("../img/checkbox-on.svg");
}

.checkbox__input:disabled + .check__box {
  background-image: url("../img/checkbox-disabled.svg");
}

.check__box--parking {
  top: 57px;
}

.check__box--net {
  top: 102px;
}
.check__box--hotel {
  left: 2px;
  top: 11px;
}
.check__box--motel {
  left: 2px;
  top: 57px;
}
.check__box--aparts {
  left: 2px;
  top: 102px;
}

.pool {
  padding-top: 2px;
}

.parking {
  padding-top: 31px;
}

.net {
  padding-top: 28px;
}

.hotel {
  padding-top: 3px;
  padding-left: 3px;
}

.motel {
  padding-top: 30px;
  padding-left: 3px;
}

.aparts {
  padding-top: 30px;
  padding-left: 3px;
}


/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
